/* Notification.css */
.toast-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Make sure it's above other content */
  }
  
  .toast {
    margin-bottom: 10px;
  }
  